.CalendarPageContainer {
    margin: 0 auto;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
}
.SidePanel {
    min-width: 8rem;
    padding: 2rem;
    background-color: grey;
}
.topPanel {
    min-height: 6rem;
}
.midPanel {
    display: flex;
    flex-direction: row ;
}
.SidePanelExpanded {
    width: 200px;
}