.CalendarPageContainer {
    margin: 0 0 auto 0;
    display: flex;
    flex-direction: column;
}
.SidePanelLeft {
    min-width: 17.5rem;
    padding: 2rem;
    background-color: grey;
    max-height: 100vh;
}

.SidePanelRight {
    min-width: 8rem;
    padding: 2rem;
    background-color: grey;
    max-height: 100vh;
   /*margin-left: 10%;*/
}
.topPanel {
    min-height: 6rem;
}
.midPanel {
    display: flex;
    flex-direction: row ;
}
.SidePanelExpanded {
    width: 300px;
}