html, body{
  width: 100%;
  min-height: 100%;
  margin: 0;
}

*{
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: 'Montserrat', sans-serif;
  box-shadow: none;
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

.menu-container{
  margin: 0;
}

.container-fluid{
  padding: 0;
}

.navbar {
  background-color: #000000;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main-container {
  height: 100vh;
}

th {
  text-align: center;
}

.imie-nazw {
  margin-left: 0;
}

.button-right-side {
  margin-left: 80%;
}

select.lista1 {
  background-color: transparent;
  font-weight: bold;
  text-decoration: underline;
}

.columns-bottom {
  min-height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button-hide {
  background-color: #6c757d;
}
button:focus,
button:focus-visible {
  outline: 2px auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.columns-bottom > .row{
  width: 100%;
  margin: 0;
  padding: 0;
}

.accordion-item, .accordion-item *{
  font-size: 14px;
}

.l-col {
  background-color: #6c757d;
  width: 10%;
  margin: 0;
}

label{
  margin-top: 15%;
}

select, select:target, select:after{
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  text-shadow: none;
}

.m-col {
  background-color: #dee2e6;
  width: clamp(80%, 80%, 90%);
  margin: 0;
}

.r-col {
  margin: 0;
}

.logoucik {
  position: absolute;
  top: 0.75%;
  left: 1%;
  margin-top: 2%;
  width: 8%;
  margin-left: auto;
  margin-right: auto;
  background-color: #484b4e;
  color: rgb(218, 214, 208);
  font-weight: bold;
}

.hidebutton{
  background-color: #484b4e;
  color: rgb(218, 214, 208);
  font-weight: bold;
  border: 0px;
}

.logoucik:hover, .hidebutton:hover {
  background-color: #b7b4b1;
  color: #25292f;
  border: 2px black solid;
}

.logo{
  width: 2.5%;
  height: 2.5%;
  margin: 0.5%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
